@{
    ViewData["Title"] = "Start";
}

<h1>Start</h1>

@section NavbarButtons {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" href="@Url.Action("Login", "Account")">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" href="@Url.Action("Register", "Account")">Register</a>
    </li>
}

